arodnap.egg-info/
__pycache__/
rlfixer/wala/target/
restructure_plugins/*/target/
.DS_Store
arodnap-out/
build/
dist/
# RLPatcher tests write their patch to the working directory
restructure_plugins/RLPatcher/rlfixer.patch
# Maven builds of the Java modules
/target/
/arodnap-*/target/
# The Gradle plugin's Gradle build
/arodnap-gradle-plugin/build/
/arodnap-gradle-plugin/.gradle/
